<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Trendsetter's Adda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    {{>navbar}}
    <div class="container mt-5 mb-5">
        <div class="row ">
            <div class="col-md">
                <img src="images/about.jpg" width="500" class="img-fluid mx-auto" alt="">
            </div>
            <div class="col-md mt-3">

                <div id="aboutuscontainer">
                    <div id="aboutusimgcont">
                        <img src="images/aboutus.png" id="aboutusimg" class="img-fluid" width="300" alt="">
                    </div>
                    <div id="aboutustext">
                        <p> Welcome to <span> The Trendsetter's Adda </span>, your number one source for all things [product, ie: shoes,
                        bags, luxurious]. We're dedicated to giving you the very best of every product, with a focus on
                        [three characteristics, ie: dependability, customer service and uniqueness.] Founded in [2020]
                        by TS Brothers, The Trendsetters Adda has come a long way from its beginnings in a starting
                        location-Chandigarh. When TS Brothers first started out, their passion for providing the best
                        articles to the customers and gave him the impetus to turn hard work and inspiration into to a
                        booming online store. We now serve customers all over [place, ie: the US, the world, the Austin
                        area], and are thrilled to be a part of the eco-friendly fair trade wing of the fashion
                        articles.
                        <br>
                        We hope you enjoy our products as much as we enjoy offering them to you. If you have any
                        questions or comments, please don't hesitate to contact us.
                        <br>
                        <br>



                        Sincerely,
                        <br>

                    <span>    Store Name:</span> The Trendsetters Adda 
                        <br>

                      <span>  Store Location:</span> 17 sec market, Chandigarh 
                        <br>
                        </p>
                    </div>



                </div>
            </div>
        </div>

    </div>
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>