.form-container{
    background:radial-gradient(#fff,#ffd6d6);
    width:350px;
    height:450px;
    position:relative;
    text-align:center;
    padding:20px 0;
    margin:auto;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
    overflow:hidden;
}
form a{
    font-size:12px;
}
.form-container span{
    font-weight:bold;
    padding:0 10px;
    color:#555;
    cursor:pointer;
    width:100px;
    display:inline-block;
}
.form-btn1{
    display:inline-block;
}
.form-container form{
    max-width:300px;
    padding:0 20px;
    position:absolute;
    top:130px;
    transition:transform 1s;
    

}
form input{
    width:80%;
    height:30px;
    margin:10px 0;
    padding:0 10px;
    border:1px solid #ccc;
}
form .btn1{
    width:100px;
    border:none;
    cursor:pointer;
    margin:10px 0;
}
form .btn1:focus{
    outline:none;
}
#LoginForm{
    left:-300px;
}
#RegForm{
    left:10px;
}
#Indicator{
    width:100px;
    border:none;
    background:grey;
    height:3px;
    margin-top:8px;
    transform:translateX(100px);
    transition:transform 1s;
    margin-left:20px;
}

.btn1:hover{
    background-color: #ccc;
}